
/* -------- GENERAL STYLES -----------*/

*,
*::before,
*::after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'dm sans';
}

img {
    display: block;
    width: 100%;
}

li,
uo a {
    list-style: none;
    text-decoration: none;
    letter-spacing: .15625rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .625rem 0;
    color: black;

}

h1, 
h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 3.33px;
    text-transform: uppercase;
}
h4 {
    font-size: .75rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* ---------- MOBILE LAYOUT ----------*/

header {
    min-height: 4.5rem;
    max-height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

a img,
div img {
    width: auto;
    margin: 0 1.5rem 
}

nav {
    width: 100%;
    position: absolute;
    top: 4.5rem;
    background-color: white;
    text-align: center
}

uo div {
    border-top: 1px #979797 solid;
    width: 19rem;
    margin: 0 auto
}

uo button {
    background-color: black;
    width: 19rem;
    height: 3rem;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    margin: 1.25rem 0 1.25rem 0;
    font-weight: bold;
    letter-spacing: .15625rem;
}

.hide {
    display: none;
}

.stories-space {
    padding-top: 2rem;
}

.accent {
    position: absolute;
    top: 0%;
    left: ;
    height:  .45rem;
    width: 8rem;
    background: linear-gradient(to top right,#FFC593,#BC7198,#5A77FF);
}

main {
    background-color: #000;
    color: #fff;
} 

main h1 {
    position: relative;
}

main h1,
section h2 {
    padding: 4.5rem 1.25rem 1rem 2rem;
}

main h4,
section h4 {
    padding: .5rem 1.25rem 4.5rem 2rem;
}

main p,
section p{
    color: #979797;
    line-height: 25px;
    padding: 0 1.25rem 1rem 2rem;
}
