
/* -------- GENERAL STYLES -----------*/

*,
*::before,
*::after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'dm sans';
}

img {
    width: 100%;
}

li,
uo a {
    list-style: none;
    text-decoration: none;
    letter-spacing: .15625rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .625rem 0;

}



/* ---------- MOBILE LAYOUT ----------*/

header {
    min-height: 4.5rem;
    max-height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

a img,
div img {
    width: auto;
    margin: 0 1.5rem 
}

nav {
    width: 100%;
    position: absolute;
    top: 4.5rem;
    background-color: white;
    text-align: center
}

uo div {
    border-top: 1px #979797 solid;
    width: 19rem;
    margin: 0 auto
}

uo button {
    background-color: black;
    width: 19rem;
    height: 3rem;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    margin: 1.25rem 0 1.25rem 0;
    font-weight: bold;
    letter-spacing: .15625rem;
}
