:root {
  --head-one-size: 2.5rem;
  --head-two-size: 1.5rem;
  --head-three-size: 1.125rem;
  --head-four-size: 0.75rem;
  --para-size: 0.9375rem;

  --head-one-height: 3rem;
  --head-two-height: 1.5625rem;
  --head-three-height: 1.5625rem;
  --head-four-height: 1rem;
  --para-height: 1.5625rem;

  --head-one-spacing: 0.26rem;
  --head-four-spacing: 0.125rem;

  --head-one-weight: bold;
  --head-two-weight: bold;
  --head-three-weight: bold;
  --head-four-weight: bold;
  --para-weight: normal;

  --font: "dm sans";

  --main-color: #000;
  --second-color: #dfdfdf;
  --third-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font);
}

 nav {
  width: 100%;
  position: absolute;
  top: 4.5rem;
  background-color: white;
  text-align: center;
}

uo div {
  border-top: 1px #979797 solid;
  width: 19rem;
  margin: 0 auto;
}

uo button {
  background-color: black;
  width: 19rem;
  height: 3rem;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  margin: 1.25rem 0 1.25rem 0;
  font-weight: bold;
  letter-spacing: 0.15625rem;
}

li,
uo a {
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.15625rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.625rem 0;
  color: black;
}

.header {
  top: 0;
  z-index: 0;
  background-color: #fff;
  min-height: 4.5rem;
  max-height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img,
.hamburger-menu img {
  width: auto;
  margin: 0 1.5rem;
}

.stories-space {
  padding-top: 2rem;
}

.accent {
  position: absolute;
  top: 0%;
  height: 0.45rem;
  width: 8rem;
  background: linear-gradient(to top right, #ffc593, #bc7198, #5a77ff);
}

.hide {
  display: none;
}



.hero__img {
  width: 100%;

}

.hero {
  background-color: var(--main-color);
  color: var(--third-color);
  padding: 3rem 1.75rem;
  height: 32rem;
}

.hero__title {
  font-size: var(--head-four-size);
  line-height: var(--head-four-height);
  font-weight: var(--head-four-weight);
  letter-spacing: var(--head-four-spacing);
  text-transform: uppercase;
}

.hero__heading {
  font-size: var(--head-one-size);
  line-height: var(--head-one-height);
  letter-spacing: var(--head-one-spacing);
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hero__date {
  font-size: var(--para-size);
  padding-bottom: 1.5rem;
}

.hero__date--opacity {
  opacity: 60%;
  margin-right: .5rem;
}

.hero__desc {
  font-size: var(--para-size);
  line-height: var(--para-height);
  padding-bottom: 1.5rem;
  opacity: 60%;
}

.hero__link {
  padding-bottom: 3rem;
}

.grid__container {
  display: grid;
}

.grid__item {
  height: 23.4375rem;
  background-repeat: no-repeat;
  background-size: cover;

}

.grid__item--mountains {
  background-image: url('../../public/assets/stories/mobile/mountains.jpg');
  width: 100%;
}
.grid__item--cityscapes {
  background-image: url('../../public/assets/stories/mobile/cityscapes.jpg');
}

.grid__item--voyage {
  background-image: url('../../public/assets/stories/mobile/18-days-voyage.jpg');
}

.grid__item--arch {
  background-image: url('../../public/assets/stories/mobile/architecturals.jpg');
} 

.grid__item--world {
  background-image: url('../../public/assets/stories/mobile/world-tour.jpg');
}

.grid__item--corners {
  background-image: url('../../public/assets/stories/mobile/unforeseen-corners.jpg');
}

.grid__item--king {
  background-image: url('../../public/assets/stories/mobile/king-on-africa.jpg');
}

.grid__item--trip {
  background-image: url('../../public/assets/stories/mobile/trip-to-nowhere.jpg');
}

.grid__item--sea {
  background-image: url('../../public/assets/stories/mobile/rage-of-the-sea.jpg');
}

.grid__item--free {
  background-image: url('../../public/assets/stories/mobile/running-free.jpg');
}

.grid__item--waves {
  background-image: url('../../public/assets/stories/mobile/behind-the-waves.jpg');
}

.grid__item--calm {
  background-image: url('../../public/assets/stories/mobile/calm-waters.jpg');
}

.grid__item--milky {
  background-image: url('../../public/assets/stories/mobile/milky-way.jpg');
}

.grid__item--forest {
  background-image: url('../../public/assets/stories/mobile/dark-forest.jpg');
}

.grid__item--beauty {
  background-image: url('../../public/assets/stories/mobile/somwarpet.jpg');
}

.grid__item--dreams {
  background-image: url('../../public/assets/stories/mobile/land-of-dreams.jpg');
}