:root {
  --head-one-size: 2.5rem;
  --head-two-size: 1.5rem;
  --head-three-size: 1.125rem;
  --head-four-size: 0.75rem;
  --para-size: 0.9375rem;

  --head-one-height: 3rem;
  --head-two-height: 1.5625rem;
  --head-three-height: 1.5625rem;
  --head-four-height: 1rem;
  --para-height: 1.5625rem;

  --head-one-spacing: 0.26rem;
  --head-four-spacing: 0.125rem;

  --head-one-weight: bold;
  --head-two-weight: bold;
  --head-three-weight: bold;
  --head-four-weight: bold;
  --para-weight: normal;

  --font: "dm sans";

  --main-color: #000;
  --second-color: #dfdfdf;
  --third-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font);
}

nav {
  width: 100%;
  position: absolute;
  top: 4.5rem;
  background-color: white;
  text-align: center;
}

uo div {
  border-top: 1px #979797 solid;
  width: 19rem;
  margin: 0 auto;
}

uo button {
  background-color: black;
  width: 19rem;
  height: 3rem;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  margin: 1.25rem 0 1.25rem 0;
  font-weight: bold;
  letter-spacing: 0.15625rem;
}

li,
uo a {
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.15625rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.625rem 0;
  color: black;
}

.header {
  top: 0;
  z-index: 0;
  background-color: #fff;
  min-height: 4.5rem;
  max-height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img,
.hamburger-menu img {
  width: auto;
  margin: 0 1.5rem;
}

.stories-space {
  padding-top: 2rem;
}

.accent {
  position: absolute;
  top: 0%;
  height: 0.45rem;
  width: 8rem;
  background: linear-gradient(to top right, #ffc593, #bc7198, #5a77ff);
}

.hide {
  display: none;
}

.hero__img {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/moon-of-appalacia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20rem;
}

.hero {
  background-color: var(--main-color);
  color: var(--third-color);
  padding: 3rem 1.75rem;
  height: 32rem;
}

.hero__title {
  font-size: var(--head-four-size);
  line-height: var(--head-four-height);
  font-weight: var(--head-four-weight);
  letter-spacing: var(--head-four-spacing);
  text-transform: uppercase;
}

.hero__heading {
  font-size: var(--head-one-size);
  line-height: var(--head-one-height);
  letter-spacing: var(--head-one-spacing);
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

.hero__date {
  font-size: var(--para-size);
  padding-bottom: 1.5rem;
}

.hero__date--opacity {
  opacity: 60%;
  margin-right: 0.5rem;
}

.hero__desc {
  font-size: var(--para-size);
  line-height: var(--para-height);
  padding-bottom: 1.5rem;
  opacity: 60%;
}

.hero__link {
  padding-bottom: 3rem;
}

.grid__container {
  display: grid;
  font-family: var(--font);
}

.grid__item {
  height: 23.4375rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--third-color);
  padding: 12.5rem 0 0 2.5rem;
}

.grid__item h3 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: var(--head-three-size);
  line-height: var((--head-three-height));
  font-weight: bold;
}

.grid__item h4::before {
  content: "";
  display: block;
  border-top: 1px solid var(--third-color);
  opacity: 25%;
  width: 85%;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}

.grid__item h4 {
  letter-spacing: var(--head-four-spacing);
  text-transform: uppercase;
}

.grid__item p {
  font-size: var(--para-size);
  line-height: var(--para-height);
}

.grid__item--mountains {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/mountains.jpg");
  width: 100%;
}
.grid__item--cityscapes {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/cityscapes.jpg");
}

.grid__item--voyage {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/18-days-voyage.jpg");
}

.grid__item--arch {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/architecturals.jpg");
}

.grid__item--world {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/world-tour.jpg");
}

.grid__item--corners {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/unforeseen-corners.jpg");
}

.grid__item--king {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/king-on-africa.jpg");
}

.grid__item--trip {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/trip-to-nowhere.jpg");
}

.grid__item--sea {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/rage-of-the-sea.jpg");
}

.grid__item--free {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/running-free.jpg");
}

.grid__item--waves {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/behind-the-waves.jpg");
}

.grid__item--calm {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/calm-waters.jpg");
}

.grid__item--milky {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/milky-way.jpg");
}

.grid__item--forest {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/dark-forest.jpg");
}

.grid__item--beauty {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/somwarpet.jpg");
}

.grid__item--dreams {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 66%
    ),
    url("../../public/assets/stories/mobile/land-of-dreams.jpg");
}

footer {
  background-color: #000;
  font-family: var(--font);
}

footer div {
  display: block;
  justify-content: center;
}

footer a {
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding: 0 0 1.18rem 0;
}

.footer-logo {
  width: 10.675rem;
  margin: 0 auto;
  padding: 3.5rem 0 0 0;
}

.footer__socials--layout {
  display: flex;
}
.footer-link {
  width: 1.25rem;
  display: inline-block;
  margin: 2rem 0.45rem;
}

@media screen and (min-width: 765px) {
  .header {
    position: static;
    display: flex;
    width: 100%;
    max-height: inherit;
  }

  .nav-menu {
    position: static;
    display: flex;
    background-color: white;
    text-align: center;
  }

  .hamburger-menu {
    display: none;
  }

  uo {
    display: flex;
  }

  uo li {
    margin: 1rem 0 0 2.25rem;
    font-size: 0.75rem;
  }

  uo div {
    width: initial;
    border: initial;
    margin: 0 auto;
  }

  uo button {
    display: block;
    width: 10.5rem;
    margin-left: 2rem;
  }

  .stories-space {
    padding: 0.625rem 0;
  }

  .logo img {
    margin-left: 2.5rem;
  }

  .hero__img {
    background-image: url("../../public/assets/stories/tablet/moon-of-appalacia.jpg");
    height: 40.625rem;
    position: relative;
  }

  .hero {
    background-color: transparent;
    position: absolute;
    top: 10.625rem;
    width: 27.18rem;
    padding-left: 2.5rem;
  }

  .grid-container {
    grid-template-columns: repeat(2 / 1fr);
    grid-template-rows: repeat(8 / 1fr);
  }

  .grid__item {
    height: 31.25rem;
    padding-top: 20.75rem;
  }

  .grid__item--mountains {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/mountains.jpg");
  }
  .grid__item--cityscapes {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/cityscapes.jpg");
    grid-area: 1 / 2;
  }

  .grid__item--voyage {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/18-days-voyage.jpg");
  }

  .grid__item--arch {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/architecturals.jpg");
  }

  .grid__item--world {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/world-tour.jpg");
  }

  .grid__item--corners {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/unforeseen-corners.jpg");
  }

  .grid__item--king {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/king-on-africa.jpg");
  }

  .grid__item--trip {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/trip-to-nowhere.jpg");
  }

  .grid__item--sea {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/rage-of-the-sea.jpg");
  }

  .grid__item--free {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/running-free.jpg");
  }

  .grid__item--waves {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/behind-the-waves.jpg");
  }

  .grid__item--calm {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/calm-waters.jpg");
  }

  .grid__item--milky {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/milky-way.jpg");
  }

  .grid__item--forest {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/dark-forest.jpg");
  }

  .grid__item--beauty {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/somwarpet.jpg");
  }

  .grid__item--dreams {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 66%
      ),
      url("../../public/assets/stories/desktop/land-of-dreams.jpg");
  }

  .home__footer--wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 25px);
  }

  .footer__logo--layout {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
    object-fit: cover;
    height: 100%;
    padding: 0%;
    margin-left: 0.65rem;
  }

  .footer__socials--layout {
    display: block;
    grid-column: 2 / 4;
    grid-row: 8 / 10;
  }

  .footer__btn--layout {
    color: white;
    grid-column: 9 / 11;
    grid-row: 3 / 6;
    margin-top: 0.15rem;
  }

  .footer__copyright--layout {
    grid-column: 8 /13;
    grid-row: 9 / 11;
    color: white;
  }

  .footer__nav {
    display: inline-flex;
    justify-content: space-around;

    grid-column: 2 / 6;
    grid-row: 5 / 7;
  }

  .footer-link {
    margin: 1.75rem 0.35rem;
  }

  footer div {
    display: block;
  }
}

@media screen and (min-width: 1050px) {
  uo {
    margin-left: 10rem;
  }

  uo button {
    margin-left: 13rem;
  }

  nav a:hover {
    opacity: .4;
  }



  .logo img {
    margin-left: 10rem;
  }

  .hero__img {
    background-image: url('../../public/assets/stories/desktop/moon-of-appalacia.jpg');
  }

  .hero {
    left: 5%;
  }

  .grid__container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .grid__item--mountains {
    grid-column-start: 1 / 2 ;
  }

  .footer-logo,
  .footer__socials--layout {
    margin-left: 2.5rem;
  }

  .footer__btn--layout {
    grid-column: 10 / 12;
    margin-left: 6.75rem;
  }

  .footer__copyright--layout {
    grid-column: 9 / 12;
    margin-left: 4rem;
  }

  .rise {
    transition-duration: 250ms;
    transition-property: transform;

  }
  .rise:hover {
    transform: translateY(-24px);
  
  }
  .footer__nav a:hover {
    opacity: .4;
  }

}